<mat-tab-group animationDuration="0ms" (selectedIndexChange)="troqueiTab($event)">
  <mat-tab [label]="i == 0 ? 'Próximas Aulas' : 'Aulas Anteriores'" *ngFor="let lista of listaAulas; let i = index">
    <mat-accordion>
      <p *ngIf="lista.length < 1" class="mt-3 text-center">Não há aulas cadastradas ainda!</p>
      <app-detalhe-aula *ngFor="let aula of lista" [aula]="aula"></app-detalhe-aula>
    </mat-accordion>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="text-info">chat</mat-icon>
      &nbsp;Fale com o Professor
    </ng-template>
    <app-chat></app-chat>
  </mat-tab>
</mat-tab-group>
