<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <mat-icon>auto_stories</mat-icon>
  <span class="mr-auto nomeApp"><a routerLink="">Classroom</a></span>
  <span>Prof. Fulano de Souza</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <button mat-icon-button (click)="isLoggedIn=!isLoggedIn">
    <mat-icon>{{ isLoggedIn ? "logout" : "login" }}</mat-icon>
  </button>
</mat-toolbar>
