<div class="row justify-content-center" *ngIf="carregando">
  <div class="col-auto">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="row" *ngIf="!carregando">
  <div class="col-auto mr-2">
    <h1 class="mat-display-1 mb-0">{{materia.nome}}</h1>
  </div>
  <div class="col-auto align-self-center">
    <mat-chip-list>
  <mat-chip *ngFor="let dia of dias; let i = index" color="accent" [selected]="diasDeAula.includes(dia.val)">
    <small>{{ dia.dia }}</small>
  </mat-chip>
  </mat-chip-list>
  </div>
  <div class="col-auto ml-auto">
    <button (click)="criarAula()" type="button" mat-raised-button color="accent">Criar Aula</button>
  </div>
  <div class="col-12">
    <span class="mat-subheading">Prof. {{materia.nomeProf}}</span>
  </div>
</div>
<div class="row" *ngIf="!carregando">
  <div class="col-12">
    <hr>
  </div>
</div>

<div class="row" *ngIf="!carregando">
  <div class="col-12">
    <p class="desc-materia">{{materia.descricao}}</p>
  </div>
</div>

<mat-card class="mat-elevation-z3" *ngIf="!carregando">
<div class="row">
  <div class="col-12">
      <app-lista-aulas [idMateria]="materia._id"></app-lista-aulas>
  </div>
</div>
</mat-card>
