<div class="{{idUsuarioLogado == msg.idEnviou ? 'enviada' : 'recebida'}}">
  <span *ngIf="idUsuarioLogado != msg.idEnviou" class="nome">Professor Anderson disse:</span>
  <div class="col-auto">
    <p class="msg">
      {{msg.conteudo}}
    </p>
  </div>
  <span class="timestamp">{{msg.createdAt.toLocaleTimeString()}}</span>
</div>

<!-- <div class="enviada">
  <div class="col-auto">
    <p class="msg">
      Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada
    </p>
  </div>
  <span class="timestamp">18:23</span>
</div> -->
