<div class="recebida">
  <span class="nome">Professor Anderson disse:</span>
  <div class="col-auto">
    <p class="msg">
      Mensagem recebida Mensagem recebida Mensagem recebida Mensagem recebida Mensagem recebida Mensagem recebida 
    </p>
  </div>
  <span class="timestamp">18:23</span>
</div>

<div class="enviada">
  <div class="col-auto">
    <p class="msg">
      Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada
    </p>
  </div>
  <span class="timestamp">18:23</span>
</div>
<div class="recebida">
  <span class="nome">Professor Anderson disse:</span>
  <div class="col-auto">
    <p class="msg">
      Mensagem recebida Mensagem recebida Mensagem recebida Mensagem recebida Mensagem recebida Mensagem recebida 
    </p>
  </div>
  <span class="timestamp">18:23</span>
</div>

<div class="enviada">
  <div class="col-auto">
    <p class="msg">
      Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada
    </p>
  </div>
  <span class="timestamp">18:23</span>
</div>
<div class="recebida">
  <span class="nome">Professor Anderson disse:</span>
  <div class="col-auto">
    <p class="msg">
      Mensagem recebida Mensagem recebida Mensagem recebida Mensagem recebida Mensagem recebida Mensagem recebida 
    </p>
  </div>
  <span class="timestamp">18:23</span>
</div>

<div class="enviada">
  <div class="col-auto">
    <p class="msg">
      Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada Mensagem enviada
    </p>
  </div>
  <span class="timestamp">18:23</span>
</div>