<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Laços de Repetição
      </mat-panel-title>
      <mat-panel-description>
        28/10/2021
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-detalhe-aula></app-detalhe-aula>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Laços de Repetição
      </mat-panel-title>
      <mat-panel-description>
        28/10/2021
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-detalhe-aula></app-detalhe-aula>
  </mat-expansion-panel>
</mat-accordion>
