<mat-expansion-panel (opened)="abrindoPainel()" (afterCollapse)="null">
  <mat-expansion-panel-header class="row">
    <mat-panel-title class="col-auto align-items-center">
      <mat-icon class="text-primary">class</mat-icon> &nbsp; {{aula.nome}}
    </mat-panel-title>
    <mat-panel-description class="col-2 align-items-center">
      {{dataToString(aula.data)}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col-12">
      <p>{{aula.conteudo}}</p>
    </div>
    <div class="col-12" *ngIf="!aulaAnterior">
      <a [href]="aula.linkZoom" target="_blank" class="text-decoration-none" mat-raised-button color="primary">Aula no Zoom</a>
    </div>
    <button *ngIf="aulaAnterior && !gravacaoCarregada" mat-raised-button type="button" color="primary" (click)="buscarGravacao()">Buscar link da Gravação</button>
    <div *ngIf="aulaAnterior && gravacaoCarregada">
      <button type="button" mat-raised-button color="primary" (click)="abrirLink()"> <mat-icon>link</mat-icon> Clique Aqui</button>
      &nbsp;
      <button type="button" mat-raised-button [cdkCopyToClipboard]="senhaGravacao" (click)="copiouSenha()"> <mat-icon>content_copy</mat-icon> Senha</button>
    </div>
    <!-- <p *ngIf="gravacaoCarregada"> <a [href]="linkGravacao" target="_blank">Clique Aqui</a> - Senha: {{senhaGravacao}} </p> -->
    <div class="col-12 mt-2">
      <mat-divider></mat-divider>
    </div>
    <div class="w-100" *ngIf="usuarioLogado.tipo === 1">
      <app-anotacao class="col-12" *ngIf="aberto" [cod]="codAnotacao"></app-anotacao>
    </div>
    <mat-action-row class="w-100" *ngIf="usuarioLogado.tipo === 0">
      <button mat-stroked-button color="warn" (click)="excluirAula()">Excluir</button>
      <button mat-stroked-button color="primary" (click)="editarAula()">Editar</button>
    </mat-action-row>
  </div>
</mat-expansion-panel>
