<div class="row h-100 p-2" style="background-color: #E8EAF6;">
  <div class="col-12 text-center">
    <span class="mat-title">João Pedro Nunes</span>
  </div>

  <div class="col-12 border p-2" style="height: 350px;border-radius: 10px;background-color: white;">
      <app-item-mensagem></app-item-mensagem>
  </div>

  <div class="col-12 align-self-end">
    <form class="w-100 row">
      <div class="col-10">
        <mat-form-field class="w-100">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
      <div class="col-2 p-2 align-self-center">
        <button class="w-100" type="submit" color="accent" mat-raised-button>Enviar</button>
      </div>
    </form>
  </div>
</div>
