<div class="row h-100 p-2">
  <div class="col-12 text-center">
    <span class="mat-title">João Pedro Nunes</span>
  </div>

  <div class="conversa">
      <app-item-mensagem></app-item-mensagem>
  </div>

  <div class="enviar col-12 align-self-end">
    <form #form="ngForm" class="w-100 row" (submit)="enviar(form)">
      <div class="col-11">
        <mat-form-field class="w-100" appearance="legacy">
          <mat-label>Escreva uma mensagem ...</mat-label>
          <textarea name="msg" #msg="ngModel" ngModel matInput rows="1"></textarea>
        </mat-form-field>
      </div>
      <div class="col pl-2 align-self-center">
        <button mat-icon-button class="w-100" type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
