<div style="width: 500px;">
  <h2>{{dados ? 'Editar Matéria' : 'Cadastrar nova Matéria'}}</h2>
  <form class="row" #form="ngForm" (submit)="salvarMateria(form)">
    <mat-form-field class="col-12">
      <mat-label>Nome da Matéria</mat-label>
      <input type="text" matInput #nome="ngModel" [ngModel]="dados?.materia.nome" name="nome" required>
    </mat-form-field>
    <mat-form-field class="col-12">
      <mat-label>Descrição da Matéria</mat-label>
      <textarea matInput rows="5" #descricao="ngModel" [ngModel]="dados?.materia.descricao" name="descricao" required></textarea>
    </mat-form-field>
    <mat-form-field appearance="standard" class="col-12">
      <mat-label>Selecione a Área</mat-label>
      <mat-select #linkImg="ngModel" [ngModel]="dados?.materia.linkImg" name="linkImg" required>
        <mat-option value="tech">Tecnologia</mat-option>
        <mat-option value="exatas">Exatas</mat-option>
        <mat-option value="humanas">Humanas</mat-option>
        <mat-option value="bio">Biológicas</mat-option>
        <mat-option value="saude">Saúde</mat-option>
      </mat-select>
    </mat-form-field>
    <section class="col-12">
      <mat-label class="d-block">Dias de Aula</mat-label>
      <div class="d-flex justify-content-between">
        <mat-checkbox *ngFor="let item of dias" [checked]="item.check" (change)="item.check = $event.checked">{{ item.dia }}</mat-checkbox>
        <!-- <mat-checkbox *ngIf="!dados" *ngFor="let item of dias" (change)="item.check = $event.checked">{{ item.dia }}</mat-checkbox> -->
      </div>
    </section>
    <div class="col-12">
      <mat-divider></mat-divider>
    </div>
    <div mat-dialog-actions align="end" class="col-12">
      <button mat-button type="button" color="warn" mat-dialog-close>Cancelar</button>
      <button type="submit" mat-raised-button color="accent">Confirmar</button>
    </div>
  </form>
</div>
