.nomeApp {
  margin-left: 10px;
}

.nomeApp a {
  text-decoration: none;
  color: white;
  color: whitesmoke;
}

.avatar {
  width: 40px;
  margin-right: 5px;
}

.loading{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgb(245, 245, 245);
}