<div class="row justify-content-center">
  <div class="col-11">
    <div class="row chat justify-content-center">
      <div class="col-3" style="border-right: 1px solid gray;" *ngIf="usuarioLogado.tipo == 0">
        <app-lista-conversa></app-lista-conversa>
      </div>
      <div [class]="usuarioLogado.tipo == 1 ? 'col-12' : 'col-9'" [ngClass]="{'align-self-center': !conversaSelecionada}">
        <app-conversa *ngIf="conversaSelecionada"></app-conversa>
        <div *ngIf="!conversaSelecionada" class="row justify-content-center">
          <div class="col-12">
            <h1 class="text-center" style="color: #3F51B5;">Selecione uma conversa!</h1>
          </div>
          <div class="col-8">
            <img class="img-fluid" src="../../../../assets/img/chat.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
